<div class="modal">
  <div class="modal-content">
    <span type="button" class="close" (click)="closeModal()">&times;</span>
    <h2>Edit Staff</h2>

    <form (ngSubmit)="saveStaff()">
      <div>
        <label>Email</label>
        <input type="text" id="emailEdit" [(ngModel)]="staff.ContactInformation.Email" name="email" />
      </div>
      <div>
        <label>Phone Number</label>
        <input type="text" id="phoneNumberEdit" [(ngModel)]="staff.ContactInformation.PhoneNumber"
               name="phoneNumber" />
      </div>
      <div>
        <label for="specialization">Specialization</label>
        <select id="specialization" name="specialization" [(ngModel)]="staff.specialization">
          <option *ngFor="let spec of specializations" [value]="spec.SNOMEDCTCode">
            {{ spec.SNOMEDCTCode }} - {{ spec.Name }}
          </option>
        </select>
      </div>      

      <h3>Slots Availability</h3>

      <div *ngIf="!staff.SlotAvailability || staff.SlotAvailability.length === 0" class="no-slots">
        <p>No slots available.</p>
      </div>

      <div>
        <div *ngIf="staff.SlotAvailability && staff.SlotAvailability.length > 0">
          <table class="slots-table">
            <thead>
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slot of staff.SlotAvailability; let i = index">
              <td>
                <input type="datetime-local" [(ngModel)]="slot.Start" name="slotStart{{i}}" />
              </td>
              <td>
                <input type="datetime-local" [(ngModel)]="slot.End" name="slotEnd{{i}}" />
              </td>
              <!-- <td>
                  <button type="button" (click)="removeSlot(i)">Remove</button> </td>
                  -->

            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="button-group">
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
