<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<div class="staffs-request">
    <h1>Staffs</h1>
    <button (click)="goToAdmin()" class="btn btn-outline-primary back-btn">Back to Admin Home</button>
    <button type="button" class="create-staff-btn" (click)="openModal()">Create Staff</button>

    <app-list-staffs
      (updateStaffEvent)="openUpdateModal($event)">
    </app-list-staffs>

    <!-- CREATE MODAL -->
    <app-create-staffs
      *ngIf="isCreateModalOpen"
      [staff]="selectedStaffToCreate"
      (closeModalEvent)="closeModal()"
      (createStaffEvent)="submitRequest($event)">
    </app-create-staffs>

    <app-update-staffs
      *ngIf="isEditModalOpen"
      [staff]="selectedStaffToUpdate"
      [specializations]="specializations"
      (closeModalEvent)="closeModal()"
      (update)="update($event)">
    </app-update-staffs>

    <router-outlet></router-outlet>
</div>
