<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<div class="staffs-request">
    <h1>Staffs</h1>
    <button type="button" class="btn btn-primary" (click)="openModal()">Create Staff</button>
    <button (click)="goToAdmin()" class="btn btn-back">Back to Admin Home</button>

    <div *ngIf="!showList && !showForm" class="loading-spinner">
      <div class="spinner"></div>
      <h1>LOADING</h1>
      <p>Please wait...</p>
    </div>

    <div *ngIf="success && message" class="alert alert-success alert-top-right">
      <strong>Success!</strong> {{ message }}
    </div>

  <app-list-staffs
      [staffs]="staffs"
      [totalItems]="totalItems"
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      (updateStaffEvent)="openUpdateModal($event)"
      (statusToggle)="onStatusToggle($event)">
    </app-list-staffs>

    <!-- CREATE MODAL -->
    <app-create-staffs
      *ngIf="isCreateModalOpen"
      [staff]="selectedStaffToCreate"
      (closeModalEvent)="closeModal()"
      (createStaffEvent)="submitRequest($event)">
    </app-create-staffs>

    <app-update-staffs
      *ngIf="isEditModalOpen"
      [staff]="selectedStaffToUpdate"
      [specializations]="specializations"
      (closeModalEvent)="closeModal()"
      (update)="update($event)">
    </app-update-staffs>

    <app-delete-staffs
      *ngIf="selectedStaff"
      [staff]="selectedStaff"
      (statusToggled)="onStatusToggled()"
      (cancel)="selectedStaff = null"></app-delete-staffs>

</div>
