<div>
    <h1>Create Medical Condition</h1>
    <div class="modal-content">
        <span type="button" class="close" (click)="emitCloseModalEvent()">&times;</span>
        <h2>Medical Condition Form</h2>
        <form class="form-group">
            <div>
                <input type="text" id="code" name="code" [(ngModel)]="selectedMedicalConditionCode"
                    (focus)="codeTouched = true" placeholder="Code" />
            </div>
            <div>
                <input type="text" id="name" name="name" [(ngModel)]="selectedMedicalConditionName"
                    (focus)="nameTouched = true" placeholder="Name" />
            </div>
            <div>
                <input type="text" id="description" name="description" [(ngModel)]="selectedMedicalConditionDescription"
                    (focus)="descriptionTouched = true" placeholder="Description" />
            </div>
            <div>
                <h3>Common Symptoms</h3>
                <div *ngFor="let symptom of selectedMedicalConditionCommonSymptoms; let i = index">
                    <input type="text" [(ngModel)]="selectedMedicalConditionCommonSymptoms[i]"
                        name="commonSymptom{{i}}" placeholder="Common Symptom" />
                    <button type="button" (click)="removeSymptom(i)">Remove</button>
                </div>
                
                <div>
                    <input type="text" [(ngModel)]="newSymptom" name="newSymptomInput" placeholder="Enter new symptom" />
                    <button type="button" (click)="addSymptom()">Add Symptom</button>
                </div>                
                
            </div>
            <div class="button-group">
                <button type="button" class="btn-create-request" (click)="submit()">Submit</button>
            </div>
        </form>
    </div>
</div>
