<div class="operationTypes-form">
  <h1>Create Operation Type</h1>

  <form (ngSubmit)="submitOperationType()">
    <label for="operationName">Operation Name:</label>
    <input type="text" id="operationName" name="operationName" [(ngModel)]="operationType.Name" placeholder="Enter Operation Name" />

    <label for="specialization">Specialization:</label>
    <select id="specialization" name="specialization" [(ngModel)]="operationType.Specialization">
      <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
    </select>

    <h3>Add Required Staff</h3>
    <label for="newStaffRole">Role:</label>
    <select [(ngModel)]="newStaff.Role" name="newStaffRole" id="newStaffRole">
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>

    <label for="newStaffSpecialization">Specialization:</label>
    <select [(ngModel)]="newStaff.Specialization" name="newStaffSpecialization" id="newStaffSpecialization">
      <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
    </select>

    <label for="newStaffQuantity">Quantity:</label>
    <input type="number" [(ngModel)]="newStaff.Quantity" name="newStaffQuantity" id="newStaffQuantity" min="1" />

    <button type="button" (click)="addStaff()">Add Staff</button>

    <div *ngFor="let staff of operationType.RequiredStaff; let i = index" class="required-staff">
      <h3>Required Staff {{ i + 1 }}</h3>
      <p>Role: {{ staff.Role }}</p>
      <p>Specialization: {{ staff.Specialization }}</p>
      <p>Quantity: {{ staff.Quantity }}</p>
    </div>

    <label for="preparationDuration">Preparation Duration (minutes):</label>
    <input type="number" id="preparationDuration" name="preparationDuration" [(ngModel)]="operationType.PhasesDuration.Preparation" min="1" />

    <label for="surgeryDuration">Surgery Duration (minutes):</label>
    <input type="number" id="surgeryDuration" name="surgeryDuration" [(ngModel)]="operationType.PhasesDuration.Surgery" min="1" />

    <label for="cleaningDuration">Cleaning Duration (minutes):</label>
    <input type="number" id="cleaningDuration" name="cleaningDuration" [(ngModel)]="operationType.PhasesDuration.Cleaning" min="1" />

    <button type="submit">Submit Operation Type</button>
  </form>
</div>