<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Request Code</th>
          <th>Surgery Room</th>
          <th>Appointment Date</th>
          <th>Assigned Staff</th>
          <th *ngIf="isDoctor">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of getPaginatedAppointments()">
          <td>{{ appointment.AppointmentNumber.toUpperCase() }}</td>
          <td>{{ appointment.RequestCode }}</td>
          <td>{{ appointment.SurgeryRoomNumber }}</td>
          <td>
            <div>
              <strong>Start:</strong> {{ appointment.AppointmentDate.Start | date:'short' }}<br>
              <strong>End:</strong> {{ appointment.AppointmentDate.End | date:'short' }}
            </div>
          </td>
          <td>
            <ul>
              <li *ngFor="let staff of appointment.AssignedStaff">
                {{ staff }}
              </li>
            </ul>
          </td>
          <td *ngIf="isDoctor">
            <button (click)="edit.emit(appointment)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>