<div *ngIf="staffs.length > 0">
    <table>
        <thead>
        <tr>
            <th colspan="2">
                Name
                <input type="text" [(ngModel)]="filter.name" (input)="applyFilter()" name="name" placeholder="Filter by Name" />
            <th>
                Email
                <input type="text" [(ngModel)]="filter.email" (input)="applyFilter()" name="email" placeholder="Filter by Email" />
            </th>
            <th colspan="2">
                Specialization
                <select [(ngModel)]="filter.specialization" (input)="applyFilter()" name="specialization" id="specialization">
                    <option *ngFor="let spec of specializations" [value]="spec">
                        {{ spec.SNOMEDCTCode }} - {{ spec.Name }}
                    </option>
                </select>
            </th>
            <th>
              <div class="filter-buttons">
                <!--<button class="apply-filter-btn" (click)="applyFilter()">Apply Filters</button>-->
                <button class="clear-filter-btn" (click)="clearFilters()">Clear Filters</button>
              </div>
            </th>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>License Number</th>
            <th>Specialization</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let staff of getPaginatedStaff()">
            <td>{{ staff.FullName.FirstName }}</td>
            <td>{{ staff.FullName.LastName }}</td>
            <td>{{ staff.ContactInformation.Email }}</td>
            <td>{{ staff.ContactInformation.PhoneNumber }}</td>
            <td>{{ staff.licenseNumber || 'N/A' }}</td>
            <td>{{ staff.specialization || 'N/A' }} - {{ getNameFromSpecializationCode(staff.specialization) || 'N/A'}}</td>
            <td>{{ staff.staffRole || 'N/A' }}</td>
          <td>
            <span class="status-circle" [ngClass]="{'active-status': staff.status === 'Active', 'inactive-status': staff.status === 'Inactive'}">
              {{ staff.status || 'N/A' }}
            </span>
          </td>
            <!-- <td>
              <app-slot
                [Staff]="staff"
                (openSlotAppointmentModal)="openSlotAppointmentModal($event)">
              </app-slot>
            </td> -->
            <td>
                <button *ngIf="staff.status === 'Active'" (click)="updateStaffEvent.emit(staff)"
                        class="action-btn edit-btn">
                    Edit
                </button>
                <button *ngIf="staff.status === 'Active'" class="action-btn inactivate-btn" (click)="statusToggle.emit(staff)">
                    Inactivate
                </button>
                <button *ngIf="staff.status === 'Inactive'" class="action-btn activate-btn" (click)="statusToggle.emit(staff)">
                    Activate
                </button>
            </td>
        </tr>
        </tbody>
    </table>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
  </div>

</div>
