<div class="get-medical-conditions">
    <div class="filter-container">
        <input type="text" [(ngModel)]="filter.searchCode" placeholder="Enter Code" />
        <input type="text" [(ngModel)]="filter.searchName" placeholder="Enter Name" />
        <input type="text" [(ngModel)]="filter.searchDescription" placeholder="Enter Description" />
        <input type="text" [(ngModel)]="filter.searchSymptoms" placeholder="Enter Common Symptom" />
        <button type="button" (click)="filterMedicalConditions()">Filter</button>
        <button type="button" (click)="clear()">Clear</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Common Symptoms</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicalCondition of displayMedicalConditions">
                <td>{{ medicalCondition.code }}</td>
                <td>{{ medicalCondition.name }}</td>
                <td>{{ medicalCondition.description }}</td>
                    <td>
                        <ul>
                            <li *ngFor="let symptom of medicalCondition.commonSymptoms"> {{ symptom }}</li>
                        </ul>
                    </td>
                <td>
                    <button (click)="updateMedicalConditionEvent.emit(medicalCondition)">Update</button>
                    <button (click)="deleteMedicalConditionEvent.emit(medicalCondition)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <button (click)="changePage1(pages.currentPage - 1)" [disabled]="pages.currentPage <= 1">Previous</button>
    <span>Page {{ pages.currentPage }} of {{ pages.totalPages }}</span>
    <button (click)="changePage1(pages.currentPage + 1)" [disabled]="pages.currentPage >= pages.totalPages">Next</button>
  </div>