 <div class="password-popup">
    <h1>Download Patient Medical Record</h1>
    <div *ngIf="beforeLogin">
      <p>Please verify your identity...</p>
      <button class="confirm-btn" (click)="redirectToLogin()">Verify</button>
    </div>
    <div *ngIf="!beforeLogin">
      <p>Generating your patient medical record file for download, please wait...</p>
    </div>
    <button *ngIf="beforeLogin" class="cancel-btn" (click)="closeDownload.emit()">Cancel</button>
    <p *ngIf="errorMessage && !beforeLogin" class="error-message">{{ errorMessage }}</p>
</div>