<div class="patient-details">
  <div><strong>First Name:</strong> {{ patient.FullName.FirstName }}</div>
  <div><strong>Last Name:</strong> {{ patient.FullName.LastName }}</div>
  <div><strong>Date of Birth:</strong> {{ patient.DateOfBirth | date: 'yyyy-MM-dd' }}</div>
  <div><strong>Gender:</strong> {{ patient.Gender | lowercase | titlecase}}</div>
  <div><strong>Phone Number:</strong> {{ patient.ContactInformation.PhoneNumber }}</div>
  <div><strong>Email:</strong> {{ patient.ContactInformation.Email }}</div>
  <div *ngIf="patient.EmergencyContact"><strong>EmergencyContact: </strong>{{ patient.EmergencyContact}}</div>
  <div>
    <strong>Medical Record: </strong>

    <span *ngIf="!emitOpen"><button (click)="emitViewMedicalRecord()">View</button></span>
    <span *ngIf="emitOpen"><button (click)="emitCloseMedicalRecord()">Close</button></span>
    
  </div>
</div>
