.patient-details {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Fundo suave */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.patient-details div {
  margin-bottom: 10px;
  font-size: 16px;
}

.patient-details strong {
  color: #333;
  font-weight: bold;
}

.end-slot {
  margin-left: 40px;
}
