.patient-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-delete-button button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.patient-delete-button button:hover {
  background-color: #c9302c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.modal-content .form-group {
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal-actions button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.modal-actions .cancel-btn {
  background-color: #007bff;
  color: white;
}

.modal-actions .cancel-btn:hover {
  background-color: #0056b3;
}

.modal-actions .delete-button {
  background-color:#c9302c;
  color: white;
}

.modal-actions .delete-button:hover {
  background-color: #b52b27;
}

.notification {
  position: fixed;
  top: 85px;
  right: 20px;
  z-index: 1000;
  padding: 15px 20px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.notification.success {
  background-color: #89c392;
}

.notification.error {
  background-color: #dc3545;
}

