<!DOCTYPE html>
<html>
  <head>
    <title>Operation Requests</title>
  </head>
  <body>
    <div class="operationRequests-request">
      <h1>Operation Request Form</h1>

      <input type="text" [(ngModel)]="staffId" (focus)="staffIdTouched = true" placeholder="Enter Staff ID" />
      <input type="text" [(ngModel)]="patientId" (focus)="patientIdTouched = true" placeholder="Enter Patient ID" />
      <input type="text" [(ngModel)]="operationTypeId" (focus)="operationTypeIdTouched = true" placeholder="Enter Operation Type ID" />
      <input type="date" [(ngModel)]="deadlineDate" (focus)="deadlineDateTouched = true" placeholder="Enter Deadline Date" />

      <label for="priority">Select Priority:</label>
      <select id="priority" [(ngModel)]="priority" (focus)="priorityTouched = true" placeholder="Priority">
        <option value="Elective">Elective</option>
        <option value="Urgent">Urgent</option>
        <option value="Emergency">Emergency</option>
      </select>

      <button (click)="submitRequest()">Submit</button>
      <button class="clear-form" (click)="clearForm()">Clear</button>

      <p *ngIf="message">{{ message }}</p>
    </div>
  </body>
</html>
