<form (ngSubmit)="submitForm()">

  <div class="form-group">
    <label for="appointmentDateStart">Appointment Date</label>
    <input type="datetime-local" class="form-control" [(ngModel)]="appointment.AppointmentDate.Start" name="appointmentDateStart" required (change)="onAppointmentDateChange()" />
  </div>

  <div class="form-group">
    <label for="surgeryRoom">Surgery Room</label>
    <select [(ngModel)]="appointment.SurgeryRoomNumber" name="surgeryRoom" class="form-control">
      <option *ngFor="let room of surgeryRooms" [value]="room.SurgeryRoomNumber">{{ room.SurgeryRoomNumber }}</option>
    </select>
  </div>

  <div *ngFor="let staff of requiredStaff">
    <div *ngFor="let available of getAvailableStaffForRole(staff)">
      <label>
        <input type="checkbox" [(ngModel)]="appointment.AssignedStaff" [value]="available.licenseNumber" />
        {{ available.name }} (License: {{ available.licenseNumber }})
      </label>
    </div>
  
    <div *ngIf="getAvailableStaffForRole(staff).length < staff.quantity">
      Not enough staff available for role: {{ staff.role }} with specialization: {{ staff.specialization }}
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" 
      [disabled]="!appointment.RequestCode || !appointment.SurgeryRoomNumber || !appointment.AppointmentDate.Start">
      {{ appointment.Id ? 'Update Appointment' : 'Create Appointment' }}
    </button>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="cancelForm()">Cancel</button>
  </div>
</form>