<form (ngSubmit)="submitForm()">

  <div class="form-group">
    <label for="appointmentDateStart">Appointment Date</label>
    <input type="datetime-local" class="form-control" [(ngModel)]="appointment.AppointmentDate.Start" name="appointmentDateStart" required (change)="onAppointmentDateChange()" />
  </div>

  <div class="form-group">
    <label for="surgeryRoom">Surgery Room</label>
    <select [(ngModel)]="appointment.SurgeryRoomNumber" name="surgeryRoom" class="form-control">
      <option *ngFor="let room of surgeryRooms" [value]="room.SurgeryRoomNumber">{{ room.SurgeryRoomNumber }}</option>
    </select>
  </div>

  <div *ngIf="requiredStaff.length > 0 && appointment.AppointmentDate.Start" class="form-group">
    <div *ngFor="let staff of requiredStaff">
      <ng-container *ngIf="getAvailableStaffForRole(staff) as availableStaff">
        <div *ngIf="availableStaff.length > 0">
          
          <div class="staff-group-container">
            <h5 class="staff-group-title">{{ staff.Role }} - {{ staff.Specialization }}</h5>
            
            <div class="staff-list">
              <div *ngFor="let available of availableStaff" class="staff-selection">
                <input type="checkbox" 
                       [id]="available.licenseNumber"
                       [value]="available.licenseNumber" 
                       (change)="onStaffSelectionChange(available, $event)" 
                       [checked]="appointment.AssignedStaff.includes(available.licenseNumber)">
                <label [for]="available.licenseNumber">
                  {{ available.licenseNumber }} - {{ available.FullName.FirstName }} {{ available.FullName.LastName }}
                </label>
              </div>
            </div>
          </div>
          
        </div>
        
      </ng-container>
    </div>
    <div *ngIf="staffMessage" class="alert alert-warning">
      {{ staffMessage }}
    </div>
  </div>  

  <div class="form-group">
    <button type="submit" class="btn btn-primary" 
    [disabled]="!isFormValid()">
      {{ appointment.Id ? 'Update Appointment' : 'Create Appointment' }}
    </button>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="cancelForm()">Cancel</button>
  </div>
</form>