<h1 class="title">Patient Profile</h1>
<div class="patient-container">
  <div *ngIf="patient; else noPatient">
  
  <!-- <ng-container *ngIf="patient; else noPatient"> -->

    <!-- app-patient-details component -->
    <app-patient-details 
      *ngIf="patient"
      [patient]="patient"
      (viewMedicalRecord)="viewMedicalRecord()"
      (closeMedicalRecord)="closeMedicalRecord()">
    </app-patient-details>

    <!-- app-patient-medical-record component -->
      <app-patient-medical-record
        *ngIf="viewMedicalRecordFlag"
        [patient]="patient">
      </app-patient-medical-record>

    <!-- app-patient-contact-info component -->
    <app-patient-contact-info
      [patient]="patient"
      [accessToken]="accessToken"
      (patientUpdated)="patient = $event">
    </app-patient-contact-info>

    <!-- app-delete-account-button component -->
    <app-delete-account-button
      [patient]="patient"
      [accessToken]="accessToken"
      (patientDeleted)="patient = $event">
    </app-delete-account-button>


  <!-- </ng-container> -->
  </div>

  <!-- No patient data available message -->
  <ng-template #noPatient>
    <p>No patient data available.</p>
  </ng-template>

  <!-- Message display -->
  <p *ngIf="message" [class.success]="success" [class.error]="!success">
    {{ message }}
  </p>
</div>