<div class="allergy">
  <p>Allergies</p>
  <button (click)="openCreateModal()" class="btn btn-primary">Add Allergy</button>

  <button (click)="navigateToAdminMenu()" class="btn btn-secondary">Back To Menu</button>

  <app-allergy-table
    *ngIf="allergies"
    [allergies]="allergies"
    [displayAllergies]="displayAllergies"
    (filterAllergiesEvent)="loadInitialData($event)">
  </app-allergy-table>

  <app-create-allergy
    *ngIf="isCreateModalOpen"
    [allergy]="selectedAllergyToCreate"
    (closeModalEvent)="closeCreateModal()"
    (createNewAllergyEvent)="createAllergy()">
  </app-create-allergy>
</div>
