<div class="staffs-request">
  <h1>Specializations</h1>
  <button type="button" class="btn btn-primary" (click)="openModal()">Create Specializations</button>
  <button class="btn btn-back" (click)="goToAdmin()">Back to Admin Home</button>
</div>

<div *ngIf="!showList && !showForm" class="loading-spinner">
  <div class="spinner"></div>
  <h1>LOADING</h1>
  <p>Please wait...</p>
</div>

<app-list-specialization
        [specializations]="specializations"
        (updateSpecializationEvent)="openUpdateModal($event)">
</app-list-specialization>


<app-add-specialization
  *ngIf="isCreateModalOpen"
  [specialization]="selectedSpecializationToCreate"
  (closeModalEvent)="closeModal()"
  (createSpecializationEvent)="submitRequest($event)">
></app-add-specialization>

<app-update-specialization
  *ngIf="isEditModalOpen"
  [specialization]="selectedSpecializationToUpdate"
  (closeModalEvent)="closeModal()"
  (update)="update($event)">
</app-update-specialization>
