.container {
  margin-top: 20px;
  padding: 20px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.staff-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.staff-item {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.staff-item:hover {
  background-color: #f9f9f9;
}

.staff-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.staff-role {
  font-size: 1.1em;
  font-weight: 600;
  color: #333;
}

.staff-specialization {
  font-size: 0.95em;
  color: #555;
}

.staff-requirements {
  display: flex;
  flex-direction: column; /* Empilhamento vertical */
  gap: 8px; /* Distância entre os badges */
}

.badge {
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 0.85em;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

.badge.preparation {
  background-color: #FFB74D; /* Suave laranja */
}

.badge.surgery {
  background-color: #64B5F6; /* Azul suave */
}

.badge.cleaning {
  background-color: #81C784; /* Verde suave */
}

.required-staff-column {
  width: 350px; /* Ajuste a largura da coluna Required Staff */
  min-width: 300px; /* Largura mínima */
}

.specialization-column {
  width: 160px; /* Ajuste a largura da coluna Specialization */
  min-width: 140px; /* Largura mínima */
}

.phases-column {
  width: 250px; /* Ajuste a largura da coluna Phases */
  min-width: 220px; /* Largura mínima */
}

.phase-info {
  font-size: 0.95em;
  color: #555;
}

.button-container {
  display: flex;
  gap: 2px; /* Espaço entre os botões */
  margin-top: 2px; /* Espaçamento acima dos botões */
}

.btn {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  background-color: darkblue;
  border-color: darkblue;
  color: white;
}

.btn-secondary {
  background-color: darkred;
  border-color: darkred;
  color: white;
}

.btn-sm {
  padding: 4px 8px;
  font-size: 12px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 10px; /* Espaço entre os itens */
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: gainsboro;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #f8f9fa;
  color:#343a40;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  font-weight: normal;
}

td button {
  margin-right: 10px;
}

th input {
  width: 100%;
  max-width: 150px;
  padding: 5px;
}

th, td {
  text-align: left;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination button {
    margin: 5px 0;
  }
}