<div
  *ngIf="showNotification"
  [class]="'notification ' + (success ? 'success' : 'error')">
  {{ message }}
</div>
<div class="adminPatients">
  <h1>Patients</h1>

  <button *ngIf="!isDoctor" (click)="openCreateModal()" class="btn-open-create-modal">Create New Patient</button>

  <button (click)="navigateToAdminMenu()" class="back-btn">Back To Menu</button>

  <app-admin-patients-table
    *ngIf="!hideTable && patients && patients.length > 0"
    [patients]="patients"
    [accessToken]="accessToken"
    [isDoctor]="isDoctor"
    (updatePatientEvent)="openUpdateModal($event)"
    (deletePatientEvent)="openDeleteModal($event)"
    (viewPatientMedicalRecordEvent)="openPatientMedicalRecordModal($event)">
  </app-admin-patients-table>


  <app-admin-patients-create
    *ngIf="isCreateModalOpen"
    [patient]="selectedPatientToCreate"
    (closeModalEvent)="closeCreateModal()"
    (createPatientEvent)="createPatient($event)">
  </app-admin-patients-create>

  <app-admin-patients-update
    *ngIf="isEditModalOpen"
    [patient]="selectedPatientToUpdate"
    (close)="closeUpdateModal()"
    (update)="updatePatient($event)">
  </app-admin-patients-update>

  <app-admin-patients-delete
    *ngIf="isDeleteModalOpen"
    [patient]="selectedPatientToDelete"
    (close)="closeDeleteModal()"
    (delete)="deletePatient($event)">

  </app-admin-patients-delete>

  <app-patient-medical-record
    *ngIf="hideTable && isMedicalRecordModalOpen"
    [patient]="selectedPatient"
    (close)="closePatientMedicalRecordModal()">
  </app-patient-medical-record>
</div>
